<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929694802433-n2tl0sq32st3k6ubg34aqf3jm92ehptj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929694802433-n2tl0sq32st3k6ubg34aqf3jm92ehptj</string>
	<key>API_KEY</key>
	<string>AIzaSyAsokzqyWAZ3bt3OBA8a9L1HxGHpHH8F3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>929694802433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devshakib.justusCouple</string>
	<key>PROJECT_ID</key>
	<string>justus-couple</string>
	<key>STORAGE_BUCKET</key>
	<string>justus-couple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929694802433:ios:0273a238f59c38b1e5d600</string>
</dict>
</plist>